body {
    background-color: rgb(154, 152, 152);
}
.container {
    width: 1080px;
    margin: auto;
    border: 5px solid black;
}

.pertama {
    width: 625px;
    height: 700px;
    background-color: aliceblue;
    float:  left;
    border-right: 4px solid black;
    overflow: scroll;
}

.bio {
    width: 450px;
    height: 250px;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    float: right;
}

.kedua {
    width: 450px;
    height: 450px;
    background-color: aliceblue;
    float: right;
    border-top: 3px solid black;
}

.gambar {
    object-fit: cover;
    
}

.gmb {
    height: 100px;
    margin: 10px 10px;
    float: left;
}
.gambar2 {
    object-fit: cover;
    text-align: center;
    margin-left: 75px;
}

.gmb2 {
    height: 300px;
    margin: 10px 10px;
    float: left;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.namaig li{
    padding-bottom: 5px;
}
.ig {
    margin-right: 10px;
}
.bio .ucl {
    margin-right: 100px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.kedua a {
    word-spacing: 3px;
    letter-spacing: 3px;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.city:hover {
    font-size: 20px;
    color: rgb(0, 251, 255);
}
.totenham:hover {
    font-size: 20px;
    color: gray;
}
.chealse:hover {
    font-size: 20px;
    color: blue;
}
.liverpol:hover {
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.psg:hover {
    font-size: 20px;
    color: darkblue;
}
.brg:hover {
    font-size: 20px;
    color: rgb(0, 85, 255);
}
.frank:hover {
    font-size: 20px;
    color: rgb(255, 38, 0);
}
.acm:hover {
    font-size: 20px;
    color: red;
}
.inter:hover {
    font-size: 20px;
    color: rgb(0, 102, 255);
}
.juve:hover {
    font-size: 20px;
    color: rgba(255, 162, 0, 0.95);
}
.napoli:hover {
    font-size: 20px;
    color: rgb(0, 200, 255);
}
.realm:hover {
    font-size: 20px;
    color: rgb(194, 34, 194);
}
.barca:hover {
    font-size: 20px;
    color: rgb(255, 0, 0);
}
.sevilla:hover {
    font-size: 20px;
    color: rgb(238, 110, 6);
}
.atm:hover {
    font-size: 20px;
    color: rgb(241, 28, 0);
}
.bfc:hover {
    font-size: 20px;
    color: rgb(255, 39, 39);
}
.porto:hover {
    font-size: 20px;
    color: rgb(7, 208, 0);
}
.munchen:hover {
    font-size: 20px;
    color: rgb(255, 39, 39);
}
.mnc:hover {
    font-size: 20px;
    color: yellow;
}

.kucl {
    padding: 15px;
    padding-top: 80px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}